# Python 
__pycache__/ 
*.py[cod] 
*$py.class 
venv/ 
env/ 
.env 

# YOLO Model Weights (Large files) 
*.pt 

# Gradio & Local UI 
.gradio/ 

# IDEs 
.vscode/ 
.idea/ 

# OS files 
.DS_Store 
Thumbs.db 

# Misc 
*.rtf
